
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to all documents for any authenticated user.
    // WARNING: These rules are very permissive and are generally not suitable for production.
    // Use these for development and testing, and then implement more granular rules based on your application's needs.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
